.PhotoPage {
  background: #f1f1f1;
  display: flex;
  flex: 1; }

.infiniteScrollComponent {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center; }

.loader {
  position: relative; }

.loader span {
  position: absolute;
  left: -44vw; }
