@import 'src/themes/colors.scss';

.PhotoPage {
    background: $background_content;
    display: flex;
    flex: 1;
}

.infiniteScrollComponent {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
}


.loader{
   position: relative;
}

.loader span{
    position: absolute;
    left: -44vw;
}