.card {
  min-width: 350px;
  width: 21%;
  height: 450px;
  margin: 1.2%;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  animation: fadeIn 1s ease-in both;
  cursor: pointer; }

.card_image {
  height: 70%;
  width: 100%;
  object-fit: scale-down;
  background-color: #e6e6e6; }

.card_hearder {
  padding-left: 1em !important;
  padding-right: 1em !important;
  height: 10%; }

.card_avatar {
  border: 1px solid #909090; }

.card_avatar_image {
  width: 100%; }

.MuiCard-root-1 {
  overflow: visible; }

.MuiCardContent-root-63 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.card_user_location {
  color: #909090 !important;
  font-size: 0.7rem !important;
  font-family: 'Open Sans', sans-serif !important; }

.card_user_name {
  color: #909090 !important;
  font-size: 0.7rem !important;
  font-style: italic;
  font-family: 'Open Sans', sans-serif !important; }

.card_content {
  padding-top: 0.7em !important; }

.card_typography {
  display: flex !important;
  align-items: center !important;
  color: #fb5151 !important; }

.card_typography_text_like {
  font-size: 1rem !important;
  font-family: 'Open Sans', sans-serif !important; }

.card_typography_icon_like {
  margin-right: .4em !important; }

.card_user_full_name {
  font-family: 'Open Sans', sans-serif !important;
  color: #6b6969;
  font-weight: bold; }

.card:nth-child(1n+0) {
  animation-delay: 0.5s; }

.card:nth-child(2n+0) {
  animation-delay: 1s; }

.card:nth-child(5n+0) {
  animation-delay: 1.5s; }

.card:nth-child(7n+0) {
  animation-delay: 2s; }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
