//Photo page colors
$background_content: rgb(26, 21, 21);

//Loging component colors
$background_color_loading: rgb(241, 196, 15);
$text_color_loading: rgb(0, 0, 0);
$efects_colors_loading: rgb(0, 0, 0);

//Card component colors
$card_img_background_color: rgb(22, 20, 20);
$card_avatar_border_color: rgb(155, 255, 73);
$card_text_primary_color: rgb(172, 16, 125);
$card_texts_secundary_color: rgb(93, 129, 207);
$card_like_color: rgb(251, 81, 81) ;