//Photo page colors
$background_content: rgb(241, 241, 241);


//Loging component colors
$background_color_loading: rgb(66, 70, 69);
$text_color_loading: rgb(255, 255, 255);
$efects_colors_loading: rgb(255, 255, 255);


//Card component colors
$card_img_background_color: rgb(230, 230, 230);
$card_avatar_border_color: rgb(144, 144, 144);
$card_text_primary_color: rgb(107, 105, 105);
$card_texts_secundary_color: rgb(144, 144, 144);
$card_like_color: rgb(251, 81, 81) ;