.paper {
  background-color: #fff;
  padding: 1em;
  display: flex;
  flex-direction: column;
  max-width: 720px; }

.modal_content {
  display: flex;
  justify-content: center;
  align-items: center; }

.modal_image {
  width: 100%;
  max-height: 420px;
  object-fit: scale-down; }
